div{
    background-color:orange;
    color: white;
    text-align: center;
}
nav a{
    margin:0 10px 0 10px;
  display:inline-block;
  width:20%;
  text-align:center;
}
body{
    background-color: green;
}
body{
    background-color: blue;
    
  
}

