div{
  
    color: white;
    text-align: center;
   
}

nav a{
    margin:0 10px 0 10px;
  display:inline-block;
  width:20%;
  text-align:center;
}
body{
  background-image: url(image\ 2.jpg)
    
}
p{
  color: white;
}


